@font-face {
    font-family: tester;
    src: url(Roboto-Regular.ttf);
}

:root {
    --main-orange: rgb(255, 218, 163);
    --light-purp: rgb(233, 228, 255);
    --dark-purp:rgb(170, 153, 238);
}

* {
    font-family: tester;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-orange);

}

.box {
    height: 100vh;
    width: 100vw;
    min-width: 850px;
    display: grid;
    grid-template-areas: 
    'header header header'
    'xstat gamebox ostat'
    'footer footer footer'
    ;
    gap: 10px;
    grid-template-rows: 1fr minmax(300px, 3fr) 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--main-orange);
    max-width: 1100px;
    
}
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-stat {
    /* display: none; */
    background-color: rgb(255, 230, 230);
    border: 5px outset rgb(230, 110, 110);
    border-radius: 25px;
    font-size: 40px;
    padding: 20px;
    transition: all ease-in-out .4s;
}

.x-stat,
.o-stat {
    display: grid;
    grid-template-rows: 1fr 1fr 6fr;
    grid-template-columns: 1fr;
    border-radius: 50%;
    padding-top: 10px;
}

.x-stat {
    grid-area: xstat;
    background-color: var(--light-purp);
    border: 5px outset var(--dark-purp);
    margin-right: 30px;
}

.o-stat {
    grid-area: ostat;
    background-color: var(--dark-purp);
    border: 5px outset var(--light-purp);
    color: white;
    margin-left: 30px;
}

.play-head,
.score-head,
#x-score,
#o-score {
display: flex;
}

.play-head {
justify-content: center;
align-items: flex-end;
font-size: 500%;

}  

.score-head {
justify-content: center;
align-items: center;
font-size: 150%;
}

#x-score,
#o-score {
justify-content: center;
font-size: 955%;
}

#game-box {
    grid-area: gamebox;
    min-height: 200px;
    display: flex;
    justify-content: stretch;
    align-content: stretch;
}

.game-board { 
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,  1fr);
    gap: 5px;
    width: 100%;
    border: 1rem dotted rgb(255, 143, 51);
    padding:15px;
    border-radius: 25px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 241, 212);
    border: 3px outset rgb(184, 202, 185);
    border-radius: 25px; 
}

.x-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-purp);
    border-radius: 25px; 
    border: 3px outset var(--dark-purp);
    font-size: 500%;
}

.o-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purp);
    color: white;
    border-radius: 25px; 
    border: 3px outset var(--light-purp);
    font-size: 500%;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px outset rgb(230, 110, 110);
    background-color: rgb(255, 230, 230);
    width: 30%;
    height: 50%;
    border-radius: 25px;
    font-size: 40px;
}

.resetBtn:hover {
        background-color: rgb(228, 210, 210);
        cursor: pointer;
}