/* * {
    background-color: aqua;
} */

#game-box {
    min-height: 200px;
    display: flex;
    justify-content: stretch;
    align-content: stretch;
}

.game-board { 
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,  1fr);
    gap: 5px;
    width: 100%;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 25px;
}