@font-face {
    font-family: tester;
    src: url(./fonts-images/Roboto-Regular.ttf);
}

:root {
    --main-orange: rgb(255, 218, 163);
    --light-purp: rgb(233, 228, 255);
    --dark-purp:rgb(170, 153, 238);
}

* {
    font-family: tester;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-orange);
    padding: 0 20px 0 20px;

}

.box {
    height: min(100vh, 716px);
    width: 100vw;
    min-width: 850px;
    display: grid;
    grid-template-areas: 
    'header header header'
    'xstat gamebox ostat'
    'footer footer footer'
    ;
    grid-template-rows: 1fr minmax(300px, 3fr) 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--main-orange);
    max-width: 1100px;
    padding: 0;
}
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.game-stat {
    /* display: none; */
    background-color: rgb(255, 230, 230);
    border: 5px outset rgb(230, 110, 110);
    border-radius: 25px;
    font-size: 40px;
    padding: 20px;
    transition: all ease-in-out .5s;
}

.x-stat,
.o-stat {
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
    grid-template-columns: 1fr;
    max-height: 400px;
    border-radius: 50%;
    padding-top: 10px;
    transition: all ease-in .2s;
}

.x-stat {
    grid-area: xstat;
    background-color: var(--light-purp);
    border: 5px outset var(--dark-purp);
    color: black;
    margin-right: 20px;
}

.o-stat {
    grid-area: ostat;
    background-color: var(--dark-purp);
    border: 5px outset var(--light-purp);
    color: white;
    margin-left: 0px;
}

.play-head,
.score-head,
#x-score,
#o-score {
    display: flex;
    transition: all ease-in-out .6s;
}

.play-head {
    justify-content: center;
    align-items: flex-end;
    font-size: 500%;
}  

.score-head {
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

#x-score,
#o-score {
    justify-content: center;
    font-size: 955%;
}

#game-box {
    grid-area: gamebox;
    max-height: 400px;
    min-height: 370px;
    display: flex;
    justify-content: center;
    align-content: stretch;
}

.game-board { 
    max-width: 440px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,  1fr);
    gap: 5px;
    width: 100%;
    /* border: 1rem dotted rgb(255, 143, 51); */
    padding:15px;
    border-radius: 25px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 241, 212);
    border: 3px outset rgb(184, 202, 185);
    border-radius: 25px; 
}

.square:hover {
    cursor: pointer;
    background-color: rgb(204, 226, 204);
}

.x-square,
.o-square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px; 
    font-size: 500%;
}

.x-square {
    background-color: var(--light-purp);
    border: 3px inset var(--dark-purp);
}

.o-square {
    background-color: var(--dark-purp);
    color: white;
    border: 3px inset var(--light-purp);
}
.x-square:hover{
    background-color: var(--light-purp);
}

.o-square:hover {
    background-color: var(--dark-purp);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    transition: all ease-in-out .6s;
}

.resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px outset rgb(230, 110, 110);
    background-color: rgb(255, 230, 230);
    width: 30%;
    height: 50%;
    border-radius: 25px;
    font-size: 40px;
}

.resetBtn:hover {
        background-color: rgb(228, 210, 210);
        cursor: pointer;
}

@media only screen and (max-width: 880px) {
    .box {
        max-width: 400px;
        min-width: 370px;
        grid-template-areas: 
        'header'
        'xstat'
        'ostat'
        'gamebox'
        'footer'
        ;
        /* grid-template-rows: 1fr minmax(300px, 3fr) 1fr; */
        grid-template-rows: 1fr 1fr 1fr 5fr 2fr;
        grid-template-columns: 1fr;
        padding: 0;
        gap: 10px;
    }

    .header {
        padding: 10px 0 0px 0;
    }

    #game-box {
        min-height: 370px;
        max-height: 370px;
        padding-top: 5px;
    }

    .game-board {
        padding: 0;
    }

    .game-stat {
        font-size: 35px;
        padding: 10px;
    }

    .x-stat,
    .o-stat {
        display: grid;
        grid-template-columns: 2fr 10fr 2fr;
        grid-template-rows: 1fr;
        border-radius: 25px;
        max-height: 50px;
        margin: 0;
        padding: 0 20px 4px 10px;
        transition: all ease-in-out .6s;
    }

    .play-head {
        align-items: center;
        font-size: 300%;
    }  

    #x-score,
    #o-score {
    align-items: center;
    font-size: 300%;
    transition: all ease-in-out .2s;
    }

    .resetBtn {
    width: 70%;
    height: 50%;
    font-size: 35px;
    padding: 3px 0 5px 0;
    }

    .footer {
        padding: 0;
    }
}